.result {
  display: block;
  width: 100%;
  margin:5px;
}


.chart {
 display: block;
}

.result-text {
  font-size:5pt;
}

.color-1 {
  fill: $color-1;
}

.color-2 {
  fill: $color-2;
}

.color-3 {
  fill: $color-3;
}

.color-4 {
  fill: $color-4;
}