.next-button {

  margin: 30px auto;
  margin-top: 30px;
  margin-right: auto;
  margin-bottom: 30px;
  margin-left: auto;
  padding: 20px;
  color: #000000;
  border: none;
  border-top-color: currentcolor;
  border-right-color: currentcolor;
  border-bottom-color: currentcolor;
  border-left-color: currentcolor;
  border-color: white;
  font-size: 11pt;
  border-radius: 10px;
  display: inline-block;
  width: 100%;
  text-transform: uppercase;
  font-weight: bold;
  background: #DAE1E7;
}